[Unit]
Description=GitHub Authorized Keys

Wants=network.service
After=network.service

[Service]
User=root
TimeoutStartSec=0
Environment=/etc/github-authorized-keys
ExecStart=/usr/local/sbin/github-authorized-keys
TimeoutStopSec=20s
Restart=always
RestartSec=10s
